main {
    background: linear-gradient(to bottom, var(--theme-color-background), color-mix(in srgb, var(--theme-color-background) 75%, var(--color-blue)));
    flex: 1;
    display: flex;
}

.outer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    flex-direction: column;
}

#big-text {
    font-size: 64pt;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

#daily-quote {
    font-size: 12pt;
}

#big-text, #daily-quote {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    text-box: trim-both cap alphabetic;
}

@media (max-width: 512px) {
    #big-text {
        font-size: 48pt;
    }
}