:root {
    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-dark-grey: #1A1A1A;
    --color-dark-grey-alt: #202020;
    --color-bright-dark-grey: #272727;
    --color-bright-dark-grey-alt: #303030;
    --color-light-grey: #868686;
    --color-light-grey-alt: #939393;
    --color-bright-light-grey: #DADADA;
    --color-bright-light-grey-alt: #E0E0E0;

    --color-red: #A03030;
    --color-yellow: #C8A000;
    --color-green: #00A050;
    --color-cyan: #50A0C8;
    --color-blue: #3064A0;
    --color-orange: #C86000;
    --color-brown: #A07033;
    --color-purple: #7840A0;
    --color-magenta: #A040A0;

    --color-bright-red: #C84040;
    --color-bright-yellow: #FFC800;
    --color-bright-green: #00C878;
    --color-bright-cyan: #60C0FF;
    --color-bright-blue: #4080C8;
    --color-bright-orange: #FF8000;
    --color-bright-brown: #C88C40;
    --color-bright-purple: #9660C8;
    --color-bright-magenta: #C860C8;
}

/* Text */
.text-color-stark { color: var(--theme-color-stark); }
.text-color-alt { color: var(--theme-color-alt); }

.text-color-black { color: var(--color-black); }
.text-color-white { color: var(--color-white); }

.text-color-dark-grey             { color: var(--color-dark-grey); }
.text-color-dark-grey             { color: var(--color-dark-grey-alt); }
.text-color-bright-dark-grey      { color: var(--color-bright-dark-grey); }
.text-color-bright-dark-grey-alt  { color: var(--color-bright-dark-grey-alt); }
.text-color-light-grey            { color: var(--color-light-grey); }
.text-color-light-grey            { color: var(--color-light-grey-alt); }
.text-color-bright-light-grey     { color: var(--color-bright-light-grey); }
.text-color-bright-light-grey-alt { color: var(--color-bright-light-grey-alt); }

.text-color-red     { color: var(--color-red); }
.text-color-yellow  { color: var(--color-yellow); }
.text-color-green   { color: var(--color-green); }
.text-color-cyan    { color: var(--color-cyan); }
.text-color-blue    { color: var(--color-blue); }
.text-color-orange  { color: var(--color-orange); }
.text-color-brown   { color: var(--color-brown); }
.text-color-purple  { color: var(--color-purple); }
.text-color-magenta { color: var(--color-magenta); }

.text-color-bright-red     { color: var(--color-bright-red); }
.text-color-bright-yellow  { color: var(--color-bright-yellow); }
.text-color-bright-green   { color: var(--color-bright-green); }
.text-color-bright-cyan    { color: var(--color-bright-cyan); }
.text-color-bright-blue    { color: var(--color-bright-blue); }
.text-color-bright-orange  { color: var(--color-bright-orange); }
.text-color-bright-brown   { color: var(--color-bright-brown); }
.text-color-bright-purple  { color: var(--color-bright-purple); }
.text-color-bright-magenta { color: var(--color-bright-magenta); }
 
/* Background */
.bg-color-stark { background-color: var(--theme-color-stark); }
.bg-color-alt { background-color: var(--theme-color-alt); }

.bg-color-black { background-color: var(--color-black); }
.bg-color-white { background-color: var(--color-white); }

.bg-color-dark-grey             { background-color: var(--color-dark-grey); }
.bg-color-bright-dark-grey      { background-color: var(--color-bright-dark-grey); }
.bg-color-bright-dark-grey-alt  { background-color: var(--color-bright-dark-grey-alt); }
.bg-color-light-grey            { background-color: var(--color-light-grey); }
.bg-color-bright-light-grey     { background-color: var(--color-bright-light-grey); }
.bg-color-bright-light-grey-alt { background-color: var(--color-bright-light-grey-alt); }

.bg-color-red     { background-color: var(--color-red); }
.bg-color-yellow  { background-color: var(--color-yellow); }
.bg-color-green   { background-color: var(--color-green); }
.bg-color-cyan    { background-color: var(--color-cyan); }
.bg-color-blue    { background-color: var(--color-blue); }
.bg-color-orange  { background-color: var(--color-orange); }
.bg-color-brown   { background-color: var(--color-brown); }
.bg-color-purple  { background-color: var(--color-purple); }
.bg-color-magenta { background-color: var(--color-magenta); }

.bg-color-bright-red     { background-color: var(--color-bright-red); }
.bg-color-bright-yellow  { background-color: var(--color-bright-yellow); }
.bg-color-bright-green   { background-color: var(--color-bright-green); }
.bg-color-bright-cyan    { background-color: var(--color-bright-cyan); }
.bg-color-bright-blue    { background-color: var(--color-bright-blue); }
.bg-color-bright-orange  { background-color: var(--color-bright-orange); }
.bg-color-bright-brown   { background-color: var(--color-bright-brown); }
.bg-color-bright-purple  { background-color: var(--color-bright-purple); }
.bg-color-bright-magenta { background-color: var(--color-bright-magenta); }

/* Border */
.border-color-stark { border-color: var(--theme-color-stark); }
.border-color-alt { border-color: var(--theme-color-alt); }

.border-color-black { border-color: var(--color-black); }
.border-color-white { border-color: var(--color-white); }

.border-color-dark-grey             { border-color: var(--color-dark-grey); }
.border-color-bright-dark-grey      { border-color: var(--color-bright-dark-grey); }
.border-color-bright-dark-grey-alt  { border-color: var(--color-bright-dark-grey-alt); }
.border-color-light-grey            { border-color: var(--color-light-grey); }
.border-color-bright-light-grey     { border-color: var(--color-bright-light-grey); }
.border-color-bright-light-grey-alt { border-color: var(--color-bright-light-grey-alt); }

.border-color-red     { border-color: var(--color-red); }
.border-color-yellow  { border-color: var(--color-yellow); }
.border-color-green   { border-color: var(--color-green); }
.border-color-cyan    { border-color: var(--color-cyan); }
.border-color-blue    { border-color: var(--color-blue); }
.border-color-orange  { border-color: var(--color-orange); }
.border-color-brown   { border-color: var(--color-brown); }
.border-color-purple  { border-color: var(--color-purple); }
.border-color-magenta { border-color: var(--color-magenta); }

.border-color-bright-red     { border-color: var(--color-bright-red); }
.border-color-bright-yellow  { border-color: var(--color-bright-yellow); }
.border-color-bright-green   { border-color: var(--color-bright-green); }
.border-color-bright-cyan    { border-color: var(--color-bright-cyan); }
.border-color-bright-blue    { border-color: var(--color-bright-blue); }
.border-color-bright-orange  { border-color: var(--color-bright-orange); }
.border-color-bright-brown   { border-color: var(--color-bright-brown); }
.border-color-bright-purple  { border-color: var(--color-bright-purple); }
.border-color-bright-magenta { border-color: var(--color-bright-magenta); }
