{% extends "/base/normal.html" %}

{% block main_outer %}
<div id="sidebar-layout" class="flex">
    <div id="sidebar" class="overflow-scroll">{% block sidebar %}{% endblock %}</div>
    <div id="sidebar-content" class="flex-1 overflow-scroll">
        <main>{% block main %}{% endblock %}</main>
    </div>
</div>
{% endblock %}

{% block imports %}
<script src="https://assets.nercone.dev/js/merge/?path=cursor,class-prefix,pages/sidebar,components/dropdown,components/snowflake-toast" defer></script>
<link rel="stylesheet" href="https://assets.nercone.dev/css/merge/?path=fonts,cursor,layout,miscellaneous,pages/sidebar,components/button,components/dropdown,components/snowflake-toast">
<noscript><link rel="stylesheet" href="https://assets.nercone.dev/css/noscript.css"></noscript>
{% endblock %}
