:root {
    --theme-color-stark: var(--color-white);
    --theme-color-alt: color-mix(in srgb, var(--theme-color-stark) 75%, transparent);

    --theme-color-loading-overlay-logo: var(--theme-color-stark);

    --theme-color-text:     color-mix(in srgb, var(--theme-color-stark) 90%, transparent);
    --theme-color-text-alt: color-mix(in srgb, var(--theme-color-stark) 75%, transparent);

    --theme-color-text-headline:           var(--theme-color-stark);
    --theme-color-text-headline-underline: color-mix(in srgb, var(--theme-color-stark) 10%, transparent);

    --theme-color-background:     var(--color-dark-grey);
    --theme-color-background-alt: var(--color-bright-dark-grey);

    --theme-color-border: color-mix(in srgb, var(--theme-color-stark) 10%, transparent);

    --theme-color-background-cursor:         color-mix(in srgb, var(--theme-color-stark) 75%, transparent);
    --theme-color-background-cursor-on-link: color-mix(in srgb, var(--theme-color-stark) 20%, transparent);
}
